<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>管理员列表</title>

[#--引入PUBLIC CSS--]
[#include "/system/include/css/public_css.html"/]
[#--list--]
[#include "/system/include/css/list_css.html"/]
</head>
<body>
	<div class="container-fluid">
		[#--定义数据列表--]
		<table  id="datas" class="display cell-border stripe hover dtextend" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>创建时间</th>
	                <th>修改时间</th>
	                <th>用户名</th>
	                <th>昵称</th>
	                <th>年龄</th>
	                <th>性别</th>
	                <th>手机号</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
	                <th>ID</th>
	                <th>创建时间</th>
	                <th>修改时间</th>
	                <th>用户名</th>
	                <th>昵称</th>
	                <th>年龄</th>
	                <th>性别</th>
	                <th>手机号</th>
	                <th>操作</th>
	            </tr>
	        </tfoot>
	    </table>
    </div>
    [#--引入查询表单--]
    [#include "/system/menu/query.html"/]
    
    [#--引入模板--]
    [#include "/system/template/dataTable.button.temp"/]
    [#include "/system/template/selectEqOrLike.temp"/]
	
	[#-- ************************************************************* 引入JS ************************************************************* --]
	[#-- 公共JS --]
	[#include "/system/include/js/public_js.html"/]
	[#--list--]
	[#include "/system/include/js/list_js.html"/]
	
	[#--定义dataTables--]
	<script type="text/javascript">
		$(function(){
			var dataTable = $('#datas').DataTable( {
				"aoColumns": [
					{"data": "id", "sType": "string"},
					{"data": "createDate", "sType": "string"},
					{"data": "updateDate", "sType": "string"},
					{"data": "username", "sType": "string","orderable": false},
					{"data": "nickName", "sType": "string","orderable": false},
					{"data": "age", "sType": "string","orderable": false},
					{"data": "sex", "sType": "string","orderable": false},
					{"data": "mobile", "sType": "string","orderable": false},
					{"data": "id","bSearchable": false,"bSortable": false,"width":"180px",
						"render": function(id) {
							var render = "<a href='${baseUrl}/system/admin/view/"+id+"' class='btn btn-primary btn-sm active' role='button'>查看</a>";
							render += "&emsp;";
							render += "<a href='${baseUrl}/system/admin/update/"+id+"' class='btn btn-primary btn-sm active' role='button'>修改</a>";
							render += "&emsp;";
							render += "<a href='javascript:;' onclick='' class='btn btn-danger btn-sm active' role='button'>删除</a>";
							return render;
						}
					}
		        ],
		        "ajax": {
		            "url": "${baseUrl}/system/admin/getData",
		            "type": "POST",
		            "dataSrc": "data",
		            "data": function(d){
		            	formateParmas(d);
		            }
		        }
		    });
			
		});
	</script>	
</body>
</html>