<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
	<!-- 采用注解的方式配置mvc -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 扫描@Controller注解 (use-default-filters="false"避免注解式的事物不起作用)-->
	<context:component-scan base-package="com.myproject.www.controller" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<bean id="simpleUrlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="order" value="0" />
	</bean>
	<!-- Spring默认的映射器 -->
	<!-- 系统先用simpleUrlMapping去找资源，找不到再用beanNameUrlMapping去找一次。 -->
	<bean id="beanNameUrlMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<property name="order" value="1" />
	</bean>
	
	<bean id="exceptionResolver" class="com.myproject.www.exception.SystemSimpleMappingExceptionResolver"></bean>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" /><!-- **表示该目录下的资源，包含子目录（递归） -->
			<mvc:exclude-mapping path="/user/queryUser"/><!-- 不需要拦截的请求 -->
			<bean class="com.myproject.www.interceptor.MyInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
<!-- ************************************************************************************************************ -->
	<!-- 上传 -->
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	     <property name="maxUploadSize" value="104857600" />
	     <property name="maxInMemorySize" value="4096" />
	     <property name="defaultEncoding" value="UTF-8"></property>
	</bean> -->
	
	<!-- 
		将后台数据转换层json格式返回
		jar包依赖：jackson-core-lgpl-1.8.5.jar和jackson-mapper-lgpl-1.8.5.jar
		方法前加入注解@ResponseBody
	-->
    <!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
       <property name="messageConverters">  
           <list>  
               <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />  
           </list>  
       </property>  
   </bean> -->
</beans>