<html>
<head>
<meta charset="UTF-8">
<title>菜单</title>
<link href="${baseUrl}/assets/tools/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="${baseUrl}/assets/tools/artDialog/css/ui-dialog.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="${baseUrl}/assets/tools/DataTables/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="${baseUrl}/assets/tools/DataTables/extend/dataTable.extend.css" />
<link rel="stylesheet" href="${baseUrl}/assets/tools/FontAwesome/css/font-awesome.min.css" />
</head>
<body>
	
	<div class="tabbable">  
	    <ul class="nav nav-tabs">  
	        <li class="active"><a href="#1" data-toggle="tab">Home</a></li>  
	        <li><a href="#tt" data-toggle="tab">Profile</a></li>  
	        <li><a href="#3" data-toggle="tab">Messages</a></li>  
	    </ul>  
	    <div class="tab-content">  
	        <div class="tab-pane active" id="1">  
	        alkjhfalksjdlkfajsl${menu.name!"-"}  
	        </div>  
	        <div id="tt" class="tab-pane">  
	            wolaiye  
	        </div>  
	        <div id="3" class="tab-pane">  
	            wolai111ye  
	        </div>  
	    </div>  
	</div>  

	<script type="text/javascript" src="${baseUrl}/assets/tools/metronic/js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="${baseUrl}/assets/tools/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="${baseUrl}/assets/tools/artDialog/js/dialog-min.js"></script>
	<script type="text/javascript" src="${baseUrl}/assets/js/JSON2.js"></script>
	<script type="text/javascript" src="${baseUrl}/assets/tools/artTemplate/template.js"></script>
	<script type="text/javascript" src="${baseUrl}/assets/tools/DataTables/js/jquery.dataTables.js"></script>
	
</body>
</html>