<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.www.dao.IAdminDao"><!-- 为当前映射关系创建的命名空间 -->

<!-- 用户列表 -->
<resultMap type="AdminEntity" id="adminMap"><!-- type：表示返回的对象类型，id：为该映射设置一个名称 -->
	<!-- id/result ：对应这属性的映射。property为模型中的属性，column为表中的列 -->
	<id property="id" column="id"/><!-- id 一般用于映射主键,可以提高速度 -->
	<result property="createDate" column="create_date"/><!-- result 一般对于普通的属性 -->
	<result property="updateDate" column="update_date"/>
	<result property="username" column="username"/>
	<result property="password" column="password"/>
	<result property="name" column="name"/>
	<result property="nickName" column="nick_name"/>
	<result property="birthday" column="birthday"/>
	<result property="age" column="age"/>
	<result property="sex" column="sex"/>
	<result property="idCard" column="id_card"/>
	<result property="email" column="email"/>
	<result property="mobile" column="mobile"/>
	<result property="registIp" column="regist_ip"/>
	<result property="registIp" column="login_ip"/>
	<result property="headPortrait" column="head_portrait"/>
</resultMap>

<sql id="sql_count"> SELECT COUNT(a.id) FROM t_admin a </sql>
<sql id="sql_result"> SELECT a.* FROM t_admin a </sql>

	<!--       
		id：为这个插入操作起的一个名字。
		keyProperty ：代表主键对应对象的属性名称
		parameterType：代表这个 insert 操作对应的方法需要传入一个什么类型的对象, 可以引用mybatis-config.xml中typeAliases定义的类型
		useGeneratedKeys： 代表告诉 mybatis ，获取影响行数
		#{xxx}：为占位符，xxx指parameterType传入类型中的属性
	-->
	<insert id="add" keyProperty="id" parameterType="AdminEntity" useGeneratedKeys="true">
		INSERT INTO 
			t_admin(create_date,update_date,username,password,name,nick_name,birthday,age,sex,id_card,email,mobile,regist_ip,login_ip,head_portrait) 
		VALUES 
			(now(),now(),#{username},#{password},#{name},#{nickName},#{birthday},#{age},#{sex},#{idCard},#{email},#{mobile},#{registIp},#{loginIp},#{headPortrait})
	</insert>
	
	<update id="update" parameterType="AdminEntity" useGeneratedKeys="true">
		UPDATE t_admin 
			<set>name = #{name},nick_name=#{nickName},id_card=#{idCard},email=#{email},mobile=#{mobile},birthday=#{birthday},sex=#{sex}</set>
		WHERE id = #{id}
	</update>
	
	<!-- 通过ID获得管理员 -->
	<select id="findById" parameterType="Long" resultMap="adminMap" >
		<include refid="sql_result"/> <where> a.id = #{id}</where>
	</select>
	
	<!-- 根据用户名获取用户 -->
	<select id="findAdminByUsername" parameterType="String" resultMap="adminMap">
		<include refid="sql_result"/> <where> a.username = #{username}</where>
	</select>
	
	<!-- 根据身份证号获取用户 -->
	<select id="findAdminByIdCard" parameterType="String" resultMap="adminMap">
		<include refid="sql_result"/> <where> a.id_card = #{idCard}</where>
	</select>
	
	<!-- 根据邮箱获取用户 -->
	<select id="findAdminByEmail" parameterType="String" resultMap="adminMap">
		<include refid="sql_result"/> <where> a.email = #{email}</where>
	</select>
	
	<!-- 根据手机号获取用户 -->
	<select id="findAdminByMobile" parameterType="String" resultMap="adminMap">
		<include refid="sql_result"/> <where> a.mobile = #{mobile}</where>
	</select>

	<!-- 获取菜单页列表 -->
	<select id="findPage" parameterType="adminQuery" resultMap="adminMap">
		<include refid="sql_result"/>
		<where>
			<foreach collection="querys" index="key" item="map" separator=" and ">
				a.${key} 
				<foreach collection="map" index="filCond" item="value">
					<if test="filCond=='eq'"> = #{value} </if>
					<if test="filCond=='like'"> LIKE CONCAT('%',#{value},'%') </if> 
				</foreach>
			</foreach>
		</where>
		<foreach collection="orders" index="key" item="value" open=" ORDER BY " separator=",">
			a.${key} ${value}
		</foreach>
		LIMIT #{start},#{length};
	</select> 
	
	<!-- 获取过滤后的菜单数量 -->
	<select id="getFilteredCount" parameterType="adminQuery" resultType="Long">
		<include refid="sql_count"/>
		<where>
			<foreach collection="querys" index="key" item="map" separator=" and ">
				a.${key} 
				<foreach collection="map" index="filCond" item="value">
					<if test="filCond=='eq'"> = #{value} </if>
					<if test="filCond=='like'"> LIKE CONCAT('%',#{value},'%') </if> 
				</foreach>
			</foreach>
		</where>
	</select>
	
	<!-- 获取菜单总数量 -->
	<select id="getCount" parameterType="adminQuery" resultType="Long">
		<include refid="sql_count"/>
	</select>

</mapper>