<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.www.dao.IDepartmentDao"><!-- 为当前映射关系创建的命名空间 -->

	<insert id="add" keyProperty="id" parameterType="Department" useGeneratedKeys="true">
		INSERT INTO t_department(name) VALUES (#{name})
	</insert>
	
	<select id="get" parameterType="Long" resultType="Department">
		SELECT * FROM t_department WHERE id = #{id}
	</select>
	
	<select id="getAll" resultType="Department">
		SELECT * FROM t_department
	</select>

</mapper>