<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>菜单</title>

[#--引入CSS--]
<link href="/assets/tools/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
[#--list--]
[#include "/system/include/css/list_css.html"/]
</head>
<body>
	<div class="container-fluid">
		[#--定义数据列表--]
		<table  id="datas" class="display cell-border stripe hover dtextend" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>菜单名</th>
	                <th>父菜单名</th>
	                <th>菜单图标</th>
	                <th>菜单指向路径</th>
	                <th>菜单等级</th>
	                <th>排序</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
	                <th>ID${o!"-"}</th>
	                <th>菜单名</th>
	                <th>父菜单名</th>
	                <th>菜单图标</th>
	                <th>菜单指向路径</th>
	                <th>菜单等级</th>
	                <th>排序</th>
	                <th>操作</th>
	            </tr>
	        </tfoot>
	    </table>
    </div>
    [#--引入查询表单--]
    [#include "/system/menu/query.html"/]
    
    [#--引入模板--]
    [#include "/system/template/dataTable.button.temp"/]
    [#include "/system/template/selectEqOrLike.temp"/]
	
	[#--引入JS--]
	<script type="text/javascript" src="/assets/tools/metronic/js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="/assets/tools/bootstrap/js/bootstrap.min.js"></script>
	[#-- artDialog --]
	<script type="text/javascript" src="/assets/tools/artDialog/js/dialog-min.js"></script>
	<script type="text/javascript" src="/assets/tools/artDialog/js/dialog_extend.js"></script>
	[#--list--]
	[#include "/system/include/js/list_js.html"/]
	
	<script type="text/javascript">
		[#-- 删除菜单 --]
		function deleteMenu(id){
			$.ajax({
				url:"/system/menu/delete/"+id,
				success: function(data){
					queryButton.click();
					messageDialog(data.type,data.content);
				},
				statusCode: {
					404: function(){
						messageDialog("warning","请求地址不存在");
					},
					500:function(){
						messageDialog("failure","系统错误");
					}
				}
			});
		}
		
		$(function(){
			
			[#--定义dataTables--]
			var dataTable = $('#datas').DataTable( {
				"aoColumns": [
					{"data": "id", "sType": "string"},
					{"data": "name", "sType": "string"},
					{"data": "parentName", "sType": "string","orderable": false},
					{
						"data": "icon", "sType": "string","orderable": false,
						"render": function(icon) {
							var render = icon+'&nbsp;<span class="'+icon+'"><span>';
							return render;
						}
					},
					{"data": "path", "sType": "string","orderable": false},
					{"data": "level", "sType": "string"},
					{"data": "sort", "sType": "string"},
					{"data": "id","bSearchable": false,"bSortable": false,"width":"180px",
						"render": function(id) {
							var render = "<a href='/system/menu/view/"+id+"' class='btn btn-primary btn-sm active' role='button'>查看</a>";
							render += "&emsp;";
							render += "<a href='/system/menu/update/"+id+"' class='btn btn-primary btn-sm active' role='button'>修改</a>";
							render += "&emsp;";
							render += "<a href='javascript:;' onclick='deleteMenu("+id+");' class='btn btn-danger btn-sm active' role='button'>删除</a>";
							return render;
						}
					}
		        ],
		        "ajax": {
		            "url": "/system/menu/getData",
		            "type": "POST",
		            "dataSrc": "data",
		            "data": function(d){
		            	formateParmas(d);
		            }
		        }
		    });
			
		});
	</script>	
</body>
</html>