<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!-->
<html lang="zh-CN"> 
<!--<![endif]-->

[#-- head开始 --] 
<head>
	<meta charset="utf-8" />

	<title>myproject</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	[#-- 引入 css 开始 --]
	<link href="${baseUrl}/assets/tools/metronic/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	
	<link href="${baseUrl}/assets/tools/metronic/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	
	<link href="${baseUrl}/assets/tools/FontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	
	<link href="${baseUrl}/assets/tools/metronic/css/style.css" rel="stylesheet" type="text/css"/>
	
	<link href="${baseUrl}/assets/tools/metronic/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	
	<link href="${baseUrl}/assets/tools/metronic/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	[#-- 引入 css 样式结束 --]
	<link rel="shortcut icon" href="${baseUrl}/assets/images/lx.ico" />
</head>
[#-- head结束 --] 

[#-- body开始 --] 
<body class="page-header-fixed">

	[#-- 引入公共页顶 --]
	[#include "/system/index/top.html"/]

	[#-- 中间部分开始 --]    
	<div class="page-container row-fluid">

		[#-- 引入菜单 --] 
		[#include "/system/index/left.html"/]

		[#-- 内容页开始 --] 
		<div class="page-content">
			<div class="container-fluid">
				[#-- 引入导航 --] 
				<div class="row-fluid">
					[#include "/system/index/navigation.html"/]
				</div>

				[#-- 主页面开始 --] 
				<div class="row-fluid">
					<div class="span12">
						<iframe src="${baseUrl}/system/index/main" name="mainFrame" id="mainFrame" onload=" window.setTimeout('startInit(\'mainFrame\',$(window).height);', 500);" style="border:0px;width:100%;" frameborder="0" scrolling="no"></iframe>
					</div>
				</div>
				[#-- 主页面结束 --] 
			</div>
		</div>
		[#-- 内容页结束  --]     

	</div>
	[#-- 中间部分结束 --] 

	[#-- 引入底部 --] 
	[#include "/system/index/foot.html"/]
	
	[#-- 引入 js 开始 --]
	<script src="${baseUrl}/assets/tools/metronic/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	
	<script src="${baseUrl}/assets/tools/metronic/js/bootstrap.min.js" type="text/javascript"></script>
	
	<!--[if lt IE 9]>
	
	<script src="${baseUrl}/assets/tools/metronic/js/excanvas.min.js"></script>
	
	<script src="${baseUrl}/assets/tools/metronic/js/respond.min.js"></script>  
	
	<![endif]-->   
	
	<script type="text/javascript" src="${baseUrl}/assets/tools/metronic/js/app.js"></script>      
	<script type="text/javascript" src="${baseUrl}/assets/js/iframeheight.js"></script>      

	<script>
		jQuery(window).resize(function() {    
			startInit('mainFrame', $(window).height);
		});
		jQuery(document).ready(function() {    
		   App.init();
		   /* window.setInterval("startInit('mainFrame',"+ $(window).height+");", 500); */
		});
	</script>
	[#-- 引入 js 结束 --]
</body>

[#-- body结束 --] 
</html>